In [17]:
import pandas as pd
import numpy as np
import re
from functools import reduce

In [3]:
df = pd.read_csv('/opt/covidcg_flu/data_flu_genbank/metadata.csv')
df.head()

/opt/miniconda3/envs/covid-cg/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3397: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Accession ID,database,isolate_id,genus,serotype,virus_name,region,country,collection_date,submission_date,...,isolation_source,biosample_accession,authors,publications,n_subtype,segment,division,location,length,percent_ambiguous
0,NC_002016,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1982-06-09,...,Unknown,Unknown,"Winter,G., Fields,S.",6927841,1,7,-1,-1,1027,0.0
1,NC_002022,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1982-11-03,...,Unknown,Unknown,"Fields,S., Winter,G.",7060132,1,3,-1,-1,2233,0.0
2,NC_002023,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1982-11-03,...,Unknown,Unknown,"Fields,S., Winter,G.",7060132,1,1,-1,-1,2341,0.0
3,NC_002017,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1983-07-13,...,Unknown,Unknown,"Winter,G., Fields,S., Brownlee,G.G.",7278968,1,4,-1,-1,1778,0.0
4,NC_002020,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1993-08-02,...,Unknown,Unknown,"Hall,R.M., Air,G.M., Winter,G., Fields,S., Gai...","7241645, 7208353, 7465426, 7385583",1,8,-1,-1,890,0.0

In [8]:
df['location'].value_counts()

-1             985747
-1              26253
NY               8857
King County      7608
New York         6636
                ...
Columbia            1
Dallas              1
White Rock          1
Lake Towada         1
Village             1
Name: location, Length: 442, dtype: int64

In [9]:
df['division'].value_counts()

-1                 304969
Michigan            54267
California          36842
Washington          23547
Minnesota           21613
                    ...
Ribeirao Preto          1
Alwadi Algidid          1
Kandal province         1
Benisuif                1
WEST BENGAL             1
Name: division, Length: 3108, dtype: int64

In [11]:
df['country'].value_counts()

USA                 725641
China                88370
Australia            17307
Viet Nam             13583
Japan                12946
                     ...
Jamaica                  1
Suriname                 1
Albania                  1
Montenegro               1
French Polynesia         1
Name: country, Length: 163, dtype: int64

In [12]:
df['region'].value_counts()

North America    755916
Asia             195933
Europe            62536
Oceania           22811
Africa            19934
South America     17498
Antarctica          201
Name: region, dtype: int64

In [57]:
def clean_location_data(location_df, location_corretions):
    """Fix typos, unify nomenclature in location data
    """

    # Load rules
    location_correction_df = pd.read_csv(location_corretions, comment="#")
    # region_pattern,country_pattern,division_pattern,location_pattern,out_region,out_country,out_division,out_location,comment

    for i, rule in location_correction_df.iterrows():
        if i % 100 == 0:
            print(f'running location cleaning rule {i}/{len(location_correction_df)}')
        # print(rule)
        input_rule = {
            "region": rule["region_pattern"],
            "country": rule["country_pattern"],
            "division": rule["division_pattern"],
            "location": rule["location_pattern"],
        }
        output_rule = {
            "region": rule["out_region"],
            "country": rule["out_country"],
            "division": rule["out_division"],
            "location": rule["out_location"],
        }

        # Get matching entries for the input rule
        # by creating a logical mask
        # Start out with matching everything
        loc_mask = pd.Series(np.repeat(True, len(location_df)))
        for key in input_rule.keys():
            if type(input_rule[key]) is not str or not input_rule[key]:
                continue

            vals = input_rule[key].split("|")
            # Make it a list if it's just a single value
            if type(vals) is not list:
                vals = [vals]
            vals = [str(val) for val in vals]

            # Turn each value into a logical mask
            vals = [location_df[key] == v for v in vals]
            # Combine logical masks with logical ORs, and merge into the master mask with AND
            loc_mask = loc_mask & reduce(lambda x, y: (x | y), vals)

        # Set the output rules on the matching entries from loc_mask
        for out_key in output_rule.keys():
            if (
                type(output_rule[out_key]) is not str
                and type(output_rule[out_key]) is not int
            ):
                continue
            location_df.loc[loc_mask, out_key] = output_rule[out_key]

    # Done
    return location_df

In [14]:
location_corrections = pd.read_csv('/opt/covidcg_flu/static_data/flu/location_corrections.csv')
location_corrections

,region_pattern,country_pattern,division_pattern,location_pattern,out_region,out_country,out_division,out_location,comment
0,NaN,NaN,Unknown|unknown,NaN,NaN,NaN,-1,NaN,Unset unknown divisions
1,NaN,NaN,NaN,Unknown|unknown,NaN,NaN,NaN,-1,Unset unknown locations
2,NaN,CotedIvoire|Cote dIvoire|Côte d'Ivoire,NaN,NaN,NaN,Côte D'Ivoire,NaN,NaN,NaN
3,NaN,Democratic Republic of the Congo,NaN,NaN,NaN,DRC,NaN,NaN,Abbreviate name to save space
4,NaN,DRC,Kongo Central,NaN,NaN,NaN,Kongo-Central,NaN,Fix typos
...,...,...,...,...,...,...,...,...,...
904,NaN,USA,VA,NaN,NaN,NaN,Virginia,NaN,NaN
905,NaN,USA,WA,NaN,NaN,NaN,Washington,NaN,NaN
906,NaN,USA,WV,NaN,NaN,NaN,West Virginia,NaN,NaN
907,NaN,USA,WI,NaN,NaN,NaN,Wisconsin,NaN,NaN
908,NaN,USA,WY,NaN,NaN,NaN,Wyoming,NaN,NaN

In [15]:
# general strategy
# first clean up the states and merge 2 letter abbreviations with the full state names
# then detect counties mislabeled as states and flip the location and division cols
# then re-run the state cleanup
location_df = df[['region', 'country', 'division', 'location']].copy()
location_df

                region country division location
0        North America     USA       -1       -1
1        North America     USA       -1       -1
2        North America     USA       -1       -1
3        North America     USA       -1       -1
4        North America     USA       -1       -1
...                ...     ...      ...      ...
1074824  North America     USA     Ohio       -1
1074825  North America     USA     Iowa       -1
1074826  North America     USA     Iowa       -1
1074827  North America     USA     Iowa       -1
1074828  North America     USA     Iowa       -1

[1074829 rows x 4 columns]

In [19]:
a = clean_location_data(location_df, '/opt/covidcg_flu/static_data/flu/location_corrections.csv')
a

                region country division location
0        North America     USA       -1       -1
1        North America     USA       -1       -1
2        North America     USA       -1       -1
3        North America     USA       -1       -1
4        North America     USA       -1       -1
...                ...     ...      ...      ...
1074824  North America     USA     Ohio       -1
1074825  North America     USA     Iowa       -1
1074826  North America     USA     Iowa       -1
1074827  North America     USA     Iowa       -1
1074828  North America     USA     Iowa       -1

[1074829 rows x 4 columns]

In [21]:
a['location'].value_counts()

-1                        987007
-1                         24935
NY                          7817
King County                 7608
New York                    5902
                           ...
Luang Prabang District         1
Guizhou                        1
Florianopolis                  1
Lishui                         1
Behera                         1
Name: location, Length: 463, dtype: int64

In [31]:
a['division'].value_counts().index.values.tolist()

['-1',
 'California',
 'Michigan',
 'Minnesota',
 'Washington',
 'Texas',
 'Colorado',
 'Iowa',
 'Massachusetts',
 'Florida',
 'New York',
 'Wisconsin',
 'Ohio',
 'Pennsylvania',
 'Maryland',
 'Illinois',
 'Idaho',
 'North Carolina',
 'South Dakota',
 'Hawaii',
 'Utah',
 'New Jersey',
 'Missouri',
 'Arizona',
 'Indiana',
 'Delaware',
 'Jiangxi',
 'Alaska',
 'North Dakota',
 'Rhode Island',
 'Nevada',
 'Georgia',
 'Oregon',
 'Boston',
 'Virginia',
 'Nebraska',
 'Montana',
 'Connecticut',
 'Tennessee',
 'Shanghai',
 'New Mexico',
 'Basel-Stadt',
 'Managua',
 'Hunan',
 'New Hampshire',
 'Mississippi',
 'Oklahoma',
 'Washington DC',
 'Louisiana',
 'West Virginia',
 'Kentucky',
 'Guangdong',
 'South Carolina',
 'Arkansas',
 'Sydney',
 'Maine',
 'Kansas',
 'Wyoming',
 'Victoria',
 'Anhui',
 'Fujian',
 'Vermont',
 'Rhineland-Palatinate',
 'Shanxi',
 'Canterbury',
 'Alabama',
 'Ontario',
 'South Australia',
 'Manitoba',
 'Brisbane',
 'Taipei',
 'SE Wisconsin',
 'Hong Kong',
 'Alberta',
 'Henan',
 'England',
 'Shandong',
 'Houston',
 'Alameda',
 'Nanchang',
 'Memphis',
 'Shantou',
 'Zhejiang',
 'Houston area',
 'Dongguan',
 'Quebec',
 'Beijing',
 'Hubei',
 'Jiangsu',
 'Guizhou',
 'HaNoi',
 'Helsinki',
 'Mexico City',
 'Bangkok',
 'Albany County',
 'Tumbes',
 'Onondaga County',
 'Athens',
 'Newcastle',
 'British Columbia',
 'Santiago',
 'Catalonia',
 'Waikato',
 'Suffolk County',
 'Lima',
 'Yunlin',
 'London',
 'Cusco',
 'Bavaria',
 'Madre de Dios',
 'Yunnan',
 'Perth',
 'Saskatchewan',
 'Santa Clara',
 'Marseille',
 'Jalisco',
 'Tompkins County',
 'Hokkaido',
 'Queens County',
 'Moscow Region',
 'Guangxi',
 'Schenectady County',
 'Buenos Aires',
 'Tottori',
 'Monroe County',
 'Liaoning',
 'Central Czechia and Prague',
 'Saratoga County',
 'Castle Hill',
 'Aomori',
 'Niigata',
 'Ottenby',
 'Chongqing',
 'Wellington',
 'Westchester County',
 'Columbia County',
 'Auckland',
 'Townsville',
 'Broome County',
 'Rensselaer County',
 'Aichi',
 'Nagasaki',
 'Suffolk',
 'Canberra',
 'Tasmania',
 'Bilthoven',
 'Kaohsiung',
 'Jeddah',
 'Delaware Bay',
 'Ontario County',
 'TayNguyen',
 'Xinjiang',
 'Taoyuan',
 'Madrid',
 'Tianjin',
 'Hopkinsville',
 'Erie County',
 'Kandiyohi County',
 'New Brunswick',
 'Nova Scotia',
 'Dutchess County',
 'Hebei',
 'Miyazaki',
 'Ho Chi Minh City',
 'Hanoi',
 'Ningxia',
 'Tainan',
 'Hesse',
 'Queensland',
 'Hyogo',
 'New York state',
 'Western Australia',
 'Khon Kaen',
 'Madison',
 'Clinton County',
 'Chiayi',
 'Queretaro',
 'KCH',
 'Okinawa',
 'Hue',
 'Greene County',
 'Texas state',
 'Changhua',
 'Pittsburgh',
 'FuJian',
 'Fukushima',
 'Pune',
 'Onondaga county',
 'Lazio',
 'St. Landry Parish',
 'Guanajuato',
 'Miyagi',
 'Maharashtra',
 'Chumphon',
 'Southampton',
 'Puebla',
 'Sao Paulo',
 'Veracruz',
 'Albany county',
 'Germany-NI',
 'Pingtung',
 'Reunion Island',
 'Gyeonggi',
 'Lohne',
 'Glasgow',
 'Jilin',
 'Sichuan',
 'Edinburgh',
 'Verona',
 'Delhi',
 'Seneca County',
 'Santa Cruz De La Sierra; CENETROP',
 'Qinghai',
 'Essex County',
 'Yamagata',
 'Sakaeo',
 'Izembek NWR',
 'Dhaka',
 'Fukuoka',
 'Aarhus',
 'Lyon',
 'Kandal Province',
 'East Dongting lake',
 'Shandong province',
 'Chautauqua County',
 'Kyoto',
 'Atlanta',
 'Centre-Val de Loire',
 'Oneida County',
 'Huibei',
 'St. Lawrence County',
 'Riyadh',
 'Hainan',
 'Cortland County',
 'New South Wales',
 'Aberdeen',
 'Otsego County',
 'Shaoxing',
 'Orleans County',
 'Corsica',
 'Baden-Württemberg',
 'Giza',
 'Ha Noi',
 'Quang Ninh',
 'Madison County',
 'Huzhou',
 'Montgomery County',
 'Warsaw',
 'California state',
 'Orange County',
 'Cambridge',
 'Heilongjiang',
 'SLP',
 'Gunma',
 'Île-de-France',
 'Overland Park',
 'Wayne County',
 'Brownsville',
 'Conroe',
 'Jefferson County',
 'Kobe',
 'East Java',
 'Iwate',
 'Kagoshima',
 'Toyama',
 'Matsangoni',
 'Chiangrai',
 'Ubon Ratchatani',
 'Chemung County',
 'Germany-BY',
 'Union County',
 'Lagos',
 'Delaware County',
 'Chiba',
 'Vienna',
 'Germany-MV',
 'Tokyo',
 'Nuevo Leon',
 'Livingston County',
 'Schoharie County',
 'Sioux County',
 'Santo Domingo',
 'Darwin',
 'Birmingham',
 'Mispillion Harbor',
 'Allegheny County',
 'Takeo',
 'Bristol',
 'Taichung',
 'Christchurch',
 'Aguascalientes',
 'Millard County',
 'Lincoln County',
 'Rockland County',
 'Pensacola',
 'Buena Vista County',
 'Puducherry',
 'Dongting Lake',
 'Friuli-Venezia Giulia',
 'Hawaii state',
 'British_Columbia',
 'DaNang',
 'Chennai',
 'Durango',
 'Kanchanaburi',
 'Tehran',
 'Sharkia',
 'Yilan',
 'Nanjing',
 'Xizang',
 'Florence',
 'Suffolk county',
 'Manila',
 'Akita',
 'Hacienda Heights',
 'Stearns County',
 'Ulster County',
 'Genesee County',
 'Siena',
 'Veneto',
 'Ishikawa',
 'Glenn County',
 'Mtondia',
 'Kampong Cham',
 'Otago',
 'Gansu',
 'Para',
 'Dundee',
 'Oslo',
 'Kalgoorlie',
 'Sullivan County',
 'Saint Petersburg',
 'Colusa County',
 'Lisboa',
 'Eastern China',
 'Schenectady county',
 'Yates County',
 'Kowloon',
 'Menofia',
 'Qingdao',
 'Shimane',
 'Khanh Hoa',
 'Fleet Lagoon',
 'Brescia',
 'Battambang',
 'Kerala',
 'Washington state',
 'Cebu',
 'Fayoum',
 'Dornogobi',
 'Alexandria',
 'BC',
 'Wisconsin state',
 'Oddar Meanchey',
 'Herkimer County',
 'Ha noi',
 'Tallinn',
 'Bennington',
 'Cattaraugus County',
 'Newfoundland',
 'Sacramento',
 'Vientiane',
 'Kurume',
 'market',
 'Tochigi',
 'Melle',
 'Germany-NW',
 'Ibaraki',
 'Beni-Suef Governorate',
 'Ratchaburi',
 'Padova',
 'Leeds',
 'Washington County',
 'Obihiro',
 'Nakornphanom',
 'Chenango County',
 'KhanhHoa',
 'Richmond',
 'Clark County',
 'Wenzhou',
 'Champasak',
 'Region Ile-de-France',
 'South Canterbury',
 'Germany-SH',
 'Valparaiso',
 'Saraburi',
 'Vladivostok',
 'Stockholm',
 'Manchester',
 'Melbourne',
 'Rio Grande do Sul',
 'Pennsylvania state',
 'Central Java',
 'West Bengal',
 'Whatcom County',
 'Guria',
 'St. Petersburg',
 'DeSoto',
 'San Antonio',
 'lung',
 'Barron County',
 'DeSoto West',
 'Bronx County',
 'Ogun',
 'Perin',
 'Bonn',
 'Dubois County',
 'Minto Flats',
 'Newberg',
 'Fulton County',
 'Brussels-Capital Region',
 'Zuid-Holland',
 'Tullahoma',
 'Westmead',
 'Steuben County',
 'Knoxville',
 'Phnom Penh',
 'Yamaguchi',
 'Mexico city',
 'Lake county',
 'Kanagawa',
 'Pingilikani',
 'Qalubia',
 'Casablanca',
 'Jakarta',
 'Bogota',
 'Ankara',
 'Florida state',
 'Coahuila',
 'HoChiMinh',
 'Hidalgo',
 'Haryana',
 'Shaanxi',
 'Behera',
 'Minas Gerais',
 'Kamphaeng Phet',
 'Merrylands',
 'Sac County',
 'Borken',
 'Jiaxing',
 'Warendorf',
 'Northern Vietnam',
 'Whakatane',
 'Hopkins County',
 'Friesoythe',
 'Broome county',
 'Meeker County',
 'North Fitzroy',
 'New Taipei City',
 'Bad Wuennenberg',
 'Cayuga County',
 'Dublin',
 'Pattani',
 'Weber City',
 'Khabarovskiy Krai',
 'Fresno County',
 'Renesselaer County',
 'Silver Spring',
 'La Florida',
 'Damanhur',
 'Kuala Lumpur',
 'Qalyobia',
 'Prey Veng',
 'Paisley',
 'Budapest',
 'Gifu',
 'Cardiff',
 'Gharbia',
 'Mantova',
 'Brittany',
 'Rajshahi',
 'Izmir',
 'Arizona state',
 'Belgrade',
 'Ohio state',
 'Puente Alto',
 'New Jersey state',
 'Thessaloniki',
 'East Kilbride',
 'Hualien',
 'East Flanders',
 'Berlin',
 'Tibet',
 'Columbia',
 'Queens county',
 'Bochum',
 'Odense',
 'Lyon County',
 'Vreden',
 'Canyon County',
 'Ilan',
 'Katsina',
 'Massachusetts state',
 'Yakima County',
 'Wright County',
 "Cook's Beach",
 'Renville County',
 'Swift County',
 'Nan',
 'Feldbach',
 'Hamilton County',
 'Butte County',
 'Freestone County',
 'Tioga County',
 'Cologne',
 'Monofia',
 'Chihuahua',
 'Northern Territory',
 'Guangdxi',
 'Southcentral Alaska',
 'Johannesburg',
 'Kampot',
 'Sofia',
 'Karnataka',
 'Tokushima',
 'Colorado state',
 'Kampong Cham Province',
 'Jigawa',
 'Menia',
 'Hiroshima',
 'jiangxi',
 'New Delhi',
 'Chubut',
 'Lower Austria',
 'Leicester',
 'Minnesota state',
 'Cairo',
 'Kagawa',
 'Bucharest',
 'Bangalore',
 'Michoacan',
 'Amman',
 'Yokosuka',
 'Chiapas',
 'Luxor',
 'Hsinchu',
 'Cordova',
 'Piura',
 'Acre',
 'Seoul',
 'Incheon',
 'Chonburi',
 'Morelos',
 'Darlinghurst',
 'Taipei City',
 'Cloppenburg',
 'Muscogee county',
 "Reed's Beach",
 'Nong Bua Lam Phu',
 'Chesterfield County',
 'Providencia',
 'Germany-ST',
 'Anson County',
 'Nassau county',
 "Hawke's Bay",
 'Allegany County',
 'Suzhou',
 'Louisville',
 'Niagara County',
 'Whanganui',
 'Geneva',
 'Morrow County',
 'Brown County',
 'Dixon County',
 'Monroe county',
 'Kabul',
 'Copenhagen',
 'Limburg',
 'Mundy pond',
 'Pulaski county',
 'Pernambuco',
 'Headington',
 'Dakar',
 'Daegu',
 'Qalubiya',
 'Osaka',
 'Dunedin',
 'Indiana state',
 'Cheongju',
 'Sonora',
 'Mecklenburg-Western Pomerania',
 'Banteay Mean Chey',
 'Oita',
 'Rochester',
 'Neimenggu',
 'RS',
 'Bakum',
 'Exeter',
 'Kampong Speu',
 'Goa',
 'San Luis Potosi',
 'Reading',
 'farm',
 'University of Vermont Medical Center',
 'Telgte',
 'Pampa',
 'Lane County',
 'South Austalia',
 'Davis County',
 'Kano',
 'Kaduna',
 'Plateau',
 'Edo',
 'Santa Rosa',
 'New York State',
 'Yantai',
 'St. Peterburg',
 'Haren',
 'Tripura',
 'Germany-TH',
 'village',
 'Estado de Mexico',
 'ShangDong',
 'Paraiba',
 'South Holland',
 'Putnum County',
 'Warren County',
 'Ascheberg',
 'Lahore',
 'Lewis County',
 'Norden',
 'Cherokee County',
 'Yangon',
 'Sicily',
 'Gridley',
 'Anahuac NWR; Chambers Co.',
 'ShanDong',
 'Kolkata',
 'San Juan',
 "South Reed's Beach",
 'West Coast',
 'Terrassa',
 'MexicoCity',
 'Hutt',
 'Franklin County',
 'Brakel',
 'St. Iberville Parish',
 'Hvidovre',
 'Scotland',
 'North Carolina state',
 'Lawrence County',
 'Tompkins county',
 'Estado do Parana',
 'Michigan state',
 'Illinois state',
 'Estado-de-Mexico',
 'Changsha',
 'Daejeon',
 'Kumamoto',
 'PR',
 'Herzlake',
 'Styria',
 'Sheffield',
 'Germany-BW',
 'Ha Tay',
 'Novosibirsk region',
 'Murshidabad',
 'Nebraska state',
 'Basque Country',
 'Brawley',
 'Stockholms Lan',
 'Ehime',
 'Bhopal',
 'Utah state',
 'El Fayoum',
 'Missouri state',
 'Tennessee state',
 'WestJava',
 'EastJava',
 'Kentucky state',
 'West Java',
 'Inner Mongolia',
 'Cherry Point',
 'Oregon state',
 'Bear Lake County',
 'Grozny',
 'Zuerich',
 'Taranaki',
 'Geseke',
 'Tomsk',
 'Kulon Progo',
 'Delaware state',
 'Sleman',
 'Dakahlia',
 'Kunshan',
 'Usti nad Labem',
 'Roseau County',
 'Germany-BB',
 'Kanagawa Prefecture',
 'Chukha',
 'Grant County',
 'Garrel',
 'Mendenhall Wetlands State Game Refuge',
 'Taraba',
 'Interior Alaska',
 'Hamburg',
 'Nantou',
 'Baltimore County',
 'Boesel',
 'Iquitos',
 'Heiden',
 'Mascot',
 'Bronx',
 'Wyoming County',
 'Jinan',
 'Nassau county County',
 'Kent',
 'Port Chalmers',
 'Toowoomba',
 'Merrimack County',
 'Nottingham',
 'Altenberge',
 'Osceola County',
 'Oswego County',
 'Drensteinfurt',
 'Soc Trang',
 'Ashanti',
 'Rensselaer county',
 'Richmond County',
 'Nordkirchen',
 'Bueren',
 'Agassiz NWR',
 'Spenge',
 'La Reina',
 'Fortescue Beach',
 'Shiga',
 'Rhede',
 'Thief Lake',
 'Meppen',
 'Cape May County',
 'Reken',
 'ShanXi',
 'Nordhorn',
 'Putnam County',
 'Lahore-Raiwind',
 'Nordwalde',
 'Germany-HH',
 'Bretagne',
 'Commonwealth Pond',
 'Aalborg',
 'Corsica Island',
 'Rhode Island state',
 'Bantul',
 'Piemonte',
 'PE',
 'Maryland state',
 'Maipu',
 'Nara',
 'Bad Griesbach',
 'Uttara',
 'Magelang',
 'San Diego Co.',
 "Xi'an",
 'South Carolina state',
 'Middlesex',
 'Yigo',
 'shanghai',
 'Germany-HE',
 'Mangystau',
 'Takmao',
 'Saitama',
 'Newcastle-Upon-Tyne',
 'Antioquia',
 'Lake Co.',
 'Nevada state',
 'Damme',
 'Pucallpa',
 'Germany-SN',
 'Montana state',
 'Liverpool',
 'Georgia state',
 'Lambeth',
 'Punjab',
 'Jammu & Kashmir',
 'Cape May',
 'Jeonbuk',
 'Paraná',
 'Idaho state',
 'Kathmandu',
 'Okayama',
 'Ningbo',
 'Wakayama',
 'Vicenza',
 'Kandal',
 'Baghdad',
 'Lampung',
 'Inverness',
 'Upper Austria',
 'Antofagasta',
 'Yaroslavl',
 'Rio Grande do Norte',
 'Chachoengsao',
 'Trujillo',
 'Kochi',
 'Pailin',
 'Fayoum Governorate',
 'Ismailia',
 'Kampong Thom',
 'Chelyabinsk',
 'Harrow',
 'Mexico',
 'Astrakhan',
 'Novosibirsk',
 'Fujian Province',
 'Gyeongnam',
 'Kansas state',
 'Siskiyou County',
 'Luoyang',
 'Goldenstedt',
 'Quinta normal',
 'Fairfield',
 'Jasper County',
 'EdoMex',
 'Puerto Montt',
 'Brilon',
 'AN',
 'Wairarapa',
 'Nagano',
 'Klamath County',
 'Brabant',
 'Epsom',
 'Anambra',
 'Rotthalmuenster',
 'Benton County',
 'Collie',
 'Lo Prado',
 'Alaska state',
 'Los Lirios',
 'Naperville',
 'Aveiro',
 'Nottuln',
 'Bay of Plenty',
 'Ipswich',
 'Overijssel',
 'Langen',
 'Ruethen',
 'Freren',
 'Colima',
 'Harsefeld',
 'Gelderland',
 'Cullman County',
 'Giles County',
 'LaoCai',
 'Newark',
 'Nakhon Pathom',
 'Badung',
 'Ohio County',
 'Erwitte',
 'Caldwell Parish',
 'Thief Lake; Marshall Co.',
 'Salzkotten',
 'Ansan',
 'Invercargill',
 'Izembek National Wildlife Refuge',
 'Bishkek',
 'Taitung',
 'Clay County',
 'Page County',
 'Tauranga',
 'Otter Tail County',
 'DeSoto East',
 'Redwood County',
 'Bulacao',
 'Nagpur',
 'Kampheangphet',
 'VinhLong',
 'AIIMS',
 'Namkham province',
 'Ostbevern',
 'Quito',
 'Twistringen',
 'HungYen',
 'Nassarawa',
 'Agartala',
 'Molbergen',
 'Yukon-Koyukuk Census Area',
 'Genessee County',
 'Brong-Ahafo',
 'Huehuetenango',
 'Sassenberg',
 'Hoerstel',
 "Kimble's Beach",
 "Tai'an",
 'San Salvador',
 'Bali',
 'Ubsu-Nur Lake',
 'Osnabrueck',
 'LangSon',
 'Bethesda',
 'Bad Rothenfelde',
 'Nedlands',
 'Paulding County',
 'Rizhao',
 'Marsberg',
 'Luedinghausen',
 'Villa Amelia',
 'Novouralsk',
 'Boulder',
 'Yucatan',
 'Dakahlia Governorate',
 'LongAn',
 'Chiang Mai',
 'Jeonju',
 'Makhachkala',
 'Kolkatta',
 'Steinfurt',
 'Jeju',
 'Roseau',
 'Louisiana state',
 'Virginia state',
 'Catynthia',
 'Vechta',
 'Maros',
 'Mie',
 'Andalusia',
 'Schuyler County',
 'Dorset',
 'Fukui',
 'Zhuhai',
 'Namakkal-Tamil Nadu',
 'Ceske Budejovice',
 'Ceará',
 'Guangxi Province',
 'Potsdam',
 'Uttar Pradesh',
 'Thanh Hoa',
 'St Andrews',
 'Denpasar',
 'Negeri Sembilan',
 'VIC',
 'Northern Ireland',
 'Biliran',
 'Shiraz',
 'Wroclaw',
 'Calexico',
 'Wurzburg',
 'Talagante',
 'Tehran province',
 'Ulaanbaatar',
 'Prey Veng Province',
 'Uttrakhand',
 'Ile de La Reunion',
 'Craven',
 'Sangiin Dalai lake',
 'puducherry',
 'Ft Carson',
 'Guam',
 'Khilkhet',
 'Kampot Province',
 'Mit Ghamr',
 'shanxi',
 'Shaoguan',
 'New Mexico state',
 'Keraniganj',
 'Vsetin',
 'El Centro',
 'Chonburi province',
 'nasal swab',
 'Chattisgarh',
 'Almaty',
 'Las condes',
 'North Dakota state',
 'Chon Buri',
 'Aragon',
 'Columbus',
 'TayNinh',
 'RJ',
 'Selangor',
 'Gwangju',
 'Stoke-on-trent',
 'Yogyakarta',
 'Autonomous Region of Madrid',
 'Inner_mongolia',
 'Sohag',
 'Fife',
 'Hodonin',
 'Lucerne',
 'South Kalimantan',
 'Kurdistan',
 'Birbhum',
 'Tlaxcala',
 'Addison County',
 'Beirut',
 'Distric of Columbia',
 'Ekaterinburg',
 'Umea',
 'Tyrol',
 'Shoptykol',
 'Dubai',
 'Valencian Community',
 'Oaxaca',
 'San Andres de Giles',
 'Imperial Co.',
 'QLD',
 'Banten',
 'Santa Catarina',
 'Sukhbaatar',
 'Livingston',
 'Yogjakarta',
 'Wuxi',
 ...]

In [93]:
state_abbreviations = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]
state_names = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana",
    "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts",
    "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska",
    "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York",
    "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon",
    "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota",
    "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington",
    "West Virginia", "Wisconsin", "Wyoming", "Washington DC"
]

# a['location'].isin(state_abbreviations + state_names).sum()

# a['division'].str.match(r'.*county$', case=False).sum()
# a['division'].str.match(r'.*province$', case=False).sum()

# Flip division and location for entries where division ends with "county" or "province", 
# or for entries where division is a state abbreviation
flip_mask = (
    a['division'].str.match(r'.*county$', case=False) | 
    a['division'].str.match(r'.*province$', case=False) |
    a['location'].isin(state_abbreviations + state_names + [n + ' state' for n in state_names])
)
flip_mask.sum()

232

In [80]:
a.loc[flip_mask, ['division', 'location']] = a.loc[flip_mask, ['location', 'division']].values
a = clean_location_data(a, '/opt/covidcg_flu/static_data/flu/location_corrections.csv')
a

running location cleaning rule 0/1005
running location cleaning rule 100/1005
running location cleaning rule 200/1005
running location cleaning rule 300/1005
running location cleaning rule 400/1005
running location cleaning rule 500/1005
running location cleaning rule 600/1005
running location cleaning rule 700/1005
running location cleaning rule 800/1005
running location cleaning rule 900/1005
running location cleaning rule 1000/1005

                region country division location
0        North America     USA       -1       -1
1        North America     USA       -1       -1
2        North America     USA       -1       -1
3        North America     USA       -1       -1
4        North America     USA       -1       -1
...                ...     ...      ...      ...
1074824  North America     USA     Ohio       -1
1074825  North America     USA     Iowa       -1
1074826  North America     USA     Iowa       -1
1074827  North America     USA     Iowa       -1
1074828  North America     USA     Iowa       -1

[1074829 rows x 4 columns]

In [81]:
a['division'].value_counts()

-1                 305704
California          60740
Michigan            56952
New York            33182
Minnesota           26927
                    ...
Elwadi-elgaded          1
Kafr-Elshekh            1
Ein Gedi                1
South Carrolina         1
WEST BENGAL             1
Name: division, Length: 2470, dtype: int64

In [82]:
a['division'].value_counts().index.values.tolist()

['-1',
 'California',
 'Michigan',
 'New York',
 'Minnesota',
 'Massachusetts',
 'Washington',
 'Texas',
 'Iowa',
 'Colorado',
 'Florida',
 'Wisconsin',
 'Ohio',
 'Pennsylvania',
 'Illinois',
 'Maryland',
 'North Carolina',
 'Idaho',
 'South Dakota',
 'Hawaii',
 'New Jersey',
 'Utah',
 'Missouri',
 'Arizona',
 'Indiana',
 'Delaware',
 'Tennessee',
 'Jiangxi',
 'Alaska',
 'North Dakota',
 'Oregon',
 'Georgia',
 'Rhode Island',
 'Nevada',
 'Virginia',
 'Nebraska',
 'Montana',
 'Connecticut',
 'Shanghai',
 'New Mexico',
 'Basel-Stadt',
 'Managua',
 'Kentucky',
 'Louisiana',
 'New Hampshire',
 'Hunan',
 'Mississippi',
 'Oklahoma',
 'Washington DC',
 'West Virginia',
 'Guangdong',
 'South Carolina',
 'Kansas',
 'Arkansas',
 'Sydney',
 'Maine',
 'Wyoming',
 'Victoria',
 'Anhui',
 'Vermont',
 'Fujian',
 'Rhineland-Palatinate',
 'Alabama',
 'Shanxi',
 'Canterbury',
 'Ontario',
 'South Australia',
 'Manitoba',
 'Brisbane',
 'Taipei',
 'Hong Kong',
 'Alberta',
 'Henan',
 'England',
 'Shandong',
 'Nanchang',
 'Shantou',
 'Zhejiang',
 'Dongguan',
 'Quebec',
 'Beijing',
 'Hubei',
 'Jiangsu',
 'British Columbia',
 'Guizhou',
 'HaNoi',
 'Helsinki',
 'Mexico City',
 'Bangkok',
 'Tumbes',
 'Athens',
 'Newcastle',
 'Santiago',
 'Catalonia',
 'Waikato',
 'Lima',
 'Yunlin',
 'London',
 'Cusco',
 'Bavaria',
 'Madre de Dios',
 'Yunnan',
 'Perth',
 'Saskatchewan',
 'Marseille',
 'Jalisco',
 'WA',
 'Hokkaido',
 'Moscow Region',
 'Guangxi',
 'Buenos Aires',
 'Tottori',
 'Liaoning',
 'Central Czechia and Prague',
 'Castle Hill',
 'Aomori',
 'Niigata',
 'Ottenby',
 'Chongqing',
 'Wellington',
 'Auckland',
 'Townsville',
 'Aichi',
 'Nagasaki',
 'Canberra',
 'Suffolk',
 'Tasmania',
 'Bilthoven',
 'Kaohsiung',
 'Jeddah',
 'TayNguyen',
 'Xinjiang',
 'Taoyuan',
 'Madrid',
 'Tianjin',
 'New Brunswick',
 'Nova Scotia',
 'Hebei',
 'Miyazaki',
 'Ho Chi Minh City',
 'Hanoi',
 'Ningxia',
 'Tainan',
 'Queensland',
 'Hesse',
 'Hyogo',
 'Western Australia',
 'Khon Kaen',
 'Queretaro',
 'Chiayi',
 'Okinawa',
 'KCH',
 'Hue',
 'Changhua',
 'Fukushima',
 'FuJian',
 'Pune',
 'Lazio',
 'Guanajuato',
 'Miyagi',
 'Maharashtra',
 'Chumphon',
 'Southampton',
 'Puebla',
 'Veracruz',
 'Sao Paulo',
 'Germany-NI',
 'Pingtung',
 'Reunion Island',
 'Lohne',
 'Gyeonggi',
 'Glasgow',
 'Jilin',
 'Sichuan',
 'Edinburgh',
 'Delhi',
 'Verona',
 'Santa Cruz De La Sierra; CENETROP',
 'Qinghai',
 'Sakaeo',
 'Yamagata',
 'Dhaka',
 'Fukuoka',
 'Aarhus',
 'Lyon',
 'Kyoto',
 'East Dongting lake',
 'Centre-Val de Loire',
 'Huibei',
 'Riyadh',
 'Hainan',
 'New South Wales',
 'Shaoxing',
 'Corsica',
 'Baden-Württemberg',
 'Giza',
 'Ha Noi',
 'Quang Ninh',
 'Huzhou',
 'Warsaw',
 'Heilongjiang',
 'SLP',
 'Gunma',
 'Île-de-France',
 'Kobe',
 'East Java',
 'Iwate',
 'Kagoshima',
 'Toyama',
 'Cambridge',
 'Matsangoni',
 'Lagos',
 'Chiangrai',
 'Brownsville',
 'Germany-BY',
 'Ubon Ratchatani',
 'Chiba',
 'Vienna',
 'Germany-MV',
 'Tokyo',
 'Nuevo Leon',
 'Santo Domingo',
 'Darwin',
 'Birmingham',
 'Mispillion Harbor',
 'Takeo',
 'Bristol',
 'Taichung',
 'Aguascalientes',
 'Christchurch',
 'Puducherry',
 'Friuli-Venezia Giulia',
 'Dongting Lake',
 'DaNang',
 'Chennai',
 'Tehran',
 'Kanchanaburi',
 'Durango',
 'Yilan',
 'Sharkia',
 'Nanjing',
 'Siena',
 'Akita',
 'Xizang',
 'Manila',
 'Veneto',
 'Ishikawa',
 'Mtondia',
 'Kampong Cham',
 'Para',
 'Gansu',
 'Otago',
 'Dundee',
 'Oslo',
 'Kowloon',
 'Saint Petersburg',
 'Lisboa',
 'Aberdeen',
 'Eastern China',
 'Menofia',
 'Qingdao',
 'Shimane',
 'Khanh Hoa',
 'Fleet Lagoon',
 'Brescia',
 'Kerala',
 'Cebu',
 'Battambang',
 'Dornogobi',
 'Alexandria',
 'Fayoum',
 'Oddar Meanchey',
 'Tallinn',
 'Ha noi',
 'Newfoundland',
 'Kurume',
 'Vientiane',
 'market',
 'Melle',
 'Tochigi',
 'Germany-NW',
 'Ibaraki',
 'Beni-Suef Governorate',
 'Ratchaburi',
 'Leeds',
 'Padova',
 'Wenzhou',
 'South Canterbury',
 'Region Ile-de-France',
 'Germany-SH',
 'Nakornphanom',
 'Champasak',
 'KhanhHoa',
 'Obihiro',
 'Valparaiso',
 'Saraburi',
 'Vladivostok',
 'Stockholm',
 'Melbourne',
 'Manchester',
 'Rio Grande do Sul',
 'Central Java',
 'Guria',
 'Zuid-Holland',
 'Ogun',
 'Minto Flats',
 'Brussels-Capital Region',
 'West Bengal',
 'Bonn',
 'Westmead',
 'Yamaguchi',
 'Phnom Penh',
 'Mexico city',
 'Pingilikani',
 'Kanagawa',
 'Qalubia',
 'Jakarta',
 'Bogota',
 'Casablanca',
 'Coahuila',
 'Ankara',
 'Haryana',
 'HoChiMinh',
 'Hidalgo',
 'Shaanxi',
 'Minas Gerais',
 'Kamphaeng Phet',
 'Behera',
 'Khabarovskiy Krai',
 'Jiaxing',
 'Merrylands',
 'Friesoythe',
 'Borken',
 'Warendorf',
 'North Fitzroy',
 'Dublin',
 'Bad Wuennenberg',
 'Whakatane',
 'Pattani',
 'Northern Vietnam',
 'New Taipei City',
 'Qalyobia',
 'Budapest',
 'Prey Veng',
 'Kuala Lumpur',
 'Paisley',
 'Damanhur',
 'La Florida',
 'Mantova',
 'Gifu',
 'Gharbia',
 'Cardiff',
 'Rajshahi',
 'Izmir',
 'Brittany',
 'Belgrade',
 'Hualien',
 'Thessaloniki',
 'East Kilbride',
 'Puente Alto',
 'East Flanders',
 'Tibet',
 'Berlin',
 'Bochum',
 'Odense',
 "Cook's Beach",
 'Katsina',
 'Ilan',
 'Nan',
 'Cologne',
 'Vreden',
 'Feldbach',
 'Guangdxi',
 'Northern Territory',
 'Chihuahua',
 'Monofia',
 'Kampot',
 'Johannesburg',
 'Karnataka',
 'Sofia',
 'Menia',
 'Tokushima',
 'Hiroshima',
 'Jigawa',
 'jiangxi',
 'New Delhi',
 'Lower Austria',
 'Cairo',
 'Leicester',
 'Chubut',
 'Kagawa',
 'Bucharest',
 'Bangalore',
 'Michoacan',
 'Yokosuka',
 'Luxor',
 'Chiapas',
 'Amman',
 'Piura',
 'Morelos',
 'Acre',
 'Incheon',
 'Seoul',
 'Chonburi',
 'Hsinchu',
 'Nong Bua Lam Phu',
 'Kabul',
 'Darlinghurst',
 'Santa Clara',
 'Copenhagen',
 'Providencia',
 'Taipei City',
 'Germany-ST',
 'Whanganui',
 'Cloppenburg',
 "Hawke's Bay",
 "Reed's Beach",
 'Geneva',
 'Mundy pond',
 'Suzhou',
 'Limburg',
 'Pernambuco',
 'Headington',
 'Dunedin',
 'Osaka',
 'Qalubiya',
 'Dakar',
 'Daegu',
 'Cheongju',
 'Sonora',
 'Banteay Mean Chey',
 'Mecklenburg-Western Pomerania',
 'Oita',
 'San Luis Potosi',
 'Bakum',
 'Goa',
 'Exeter',
 'Kampong Speu',
 'Neimenggu',
 'RS',
 'Reading',
 'farm',
 'village',
 'ShanDong',
 'Lahore',
 'Plateau',
 'Sicily',
 'South Austalia',
 'Paraiba',
 'West Coast',
 'Yangon',
 'South Holland',
 'Yantai',
 'MexicoCity',
 'University of Vermont Medical Center',
 'Kolkata',
 'Kaduna',
 'Kano',
 'Pampa',
 'Brakel',
 'Estado de Mexico',
 'Haren',
 'Santa Rosa',
 'Norden',
 'Edo',
 'Tripura',
 'Germany-TH',
 'Hvidovre',
 'Telgte',
 'Ascheberg',
 'Hutt',
 'Terrassa',
 'Scotland',
 "South Reed's Beach",
 'San Juan',
 'ShangDong',
 'Changsha',
 'Estado do Parana',
 'Daejeon',
 'Estado-de-Mexico',
 'PR',
 'Kumamoto',
 'Styria',
 'Herzlake',
 'Ha Tay',
 'Novosibirsk region',
 'Sheffield',
 'Germany-BW',
 'Murshidabad',
 'Basque Country',
 'Stockholms Lan',
 'Ehime',
 'Bhopal',
 'El Fayoum',
 'WestJava',
 'Inner Mongolia',
 'West Java',
 'EastJava',
 'Jinan',
 'Lahore-Raiwind',
 'Chukha',
 'Shiga',
 'Nordhorn',
 'Reken',
 'Kent',
 'Germany-BB',
 'Boesel',
 'Altenberge',
 'Hamburg',
 'Iquitos',
 'Kulon Progo',
 'Bueren',
 'Nordwalde',
 'Garrel',
 'La Reina',
 'Germany-HH',
 'Sleman',
 'Taraba',
 'Soc Trang',
 'Ashanti',
 'Toowoomba',
 'Drensteinfurt',
 'Rhede',
 'Geseke',
 'Taranaki',
 'Heiden',
 'Agassiz NWR',
 'Meppen',
 'Usti nad Labem',
 'Grozny',
 'Nantou',
 'Thief Lake',
 'Zuerich',
 'Nottingham',
 'Nordkirchen',
 'Kanagawa Prefecture',
 'Dakahlia',
 'Mascot',
 'Port Chalmers',
 'Tomsk',
 'ShanXi',
 'Kunshan',
 'Spenge',
 'Commonwealth Pond',
 'Bretagne',
 'Corsica Island',
 'Maipu',
 'PE',
 'Piemonte',
 'Aalborg',
 'Bantul',
 'Nara',
 'Bad Griesbach',
 'Middlesex',
 'Uttara',
 "Xi'an",
 'Magelang',
 'Yigo',
 'shanghai',
 'Mangystau',
 'Pucallpa',
 'Saitama',
 'Damme',
 'Takmao',
 'Antioquia',
 'Liverpool',
 'Germany-HE',
 'Newcastle-Upon-Tyne',
 'Germany-SN',
 'Jammu & Kashmir',
 'Lambeth',
 'Punjab',
 'Kathmandu',
 'Paraná',
 'Vicenza',
 'Ningbo',
 'Jeonbuk',
 'Wakayama',
 'Kandal',
 'Okayama',
 'Antofagasta',
 'Upper Austria',
 'Kochi',
 'Lampung',
 'Yaroslavl',
 'Trujillo',
 'Baghdad',
 'Inverness',
 'Chachoengsao',
 'Rio Grande do Norte',
 'Pailin',
 'Chelyabinsk',
 'Fayoum Governorate',
 'Mexico',
 'Harrow',
 'Xiamen City',
 'Astrakhan',
 'Ismailia',
 'Lake Co.',
 'Gyeongnam',
 'Kampong Thom',
 'Novosibirsk',
 'Overijssel',
 'Nagano',
 'LaoCai',
 'Gelderland',
 'Quito',
 'Luoyang',
 'Salzkotten',
 'EdoMex',
 'Villa Amelia',
 'Erwitte',
 'Badung',
 'Dakahlia Governorate',
 'Wairarapa',
 "Tai'an",
 'Aveiro',
 'Quinta normal',
 'Marsberg',
 'Rotthalmuenster',
 'Puerto Montt',
 'Los Lirios',
 'Lo Prado',
 'Nagpur',
 'Rizhao',
 'Jeonju',
 'Ipswich',
 'Yucatan',
 'Brilon',
 'Bad Rothenfelde',
 'Anambra',
 'Kampheangphet',
 'Nassarawa',
 'Tauranga',
 'Huehuetenango',
 'Taitung',
 'Colima',
 'Bulacao',
 'Luedinghausen',
 'DeSoto',
 'Bali',
 'Nakhon Pathom',
 'Epsom',
 'HungYen',
 'Osnabrueck',
 'Hoerstel',
 'AIIMS',
 'Sassenberg',
 'Kolkatta',
 'Harsefeld',
 'Makhachkala',
 'VinhLong',
 'Ostbevern',
 'Freren',
 'Twistringen',
 'LongAn',
 'Brabant',
 'LangSon',
 'Agartala',
 'Ruethen',
 'Nottuln',
 'Ansan',
 'Langen',
 'San Salvador',
 'Chiang Mai',
 'Bay of Plenty',
 'Steinfurt',
 'Novouralsk',
 'Ubsu-Nur Lake',
 'Invercargill',
 'Bishkek',
 'AN',
 'Brong-Ahafo',
 'Molbergen',
 'Goldenstedt',
 'Andalusia',
 'Vechta',
 'Mie',
 'Catynthia',
 'Dorset',
 'Fukui',
 'Maros',
 'Jeju',
 'VIC',
 'St Andrews',
 'Namakkal-Tamil Nadu',
 'Negeri Sembilan',
 'Denpasar',
 'Ceará',
 'Zhuhai',
 'Potsdam',
 'Thanh Hoa',
 'Uttar Pradesh',
 'Ceske Budejovice',
 'Wurzburg',
 'Wroclaw',
 'Shiraz',
 'Northern Ireland',
 'Biliran',
 'Talagante',
 'Ulaanbaatar',
 'Keraniganj',
 'Khilkhet',
 'Shaoguan',
 'Ile de La Reunion',
 'shanxi',
 'Ft Carson',
 'puducherry',
 'Vsetin',
 'Sangiin Dalai lake',
 'Guam',
 'Uttrakhand',
 'Chattisgarh',
 'Mit Ghamr',
 'Selangor',
 'Chon Buri',
 'Las condes',
 'Almaty',
 'TayNinh',
 'RJ',
 'Aragon',
 'Beirut',
 'Birbhum',
 'Gwangju',
 'Tyrol',
 'Hodonin',
 'Kurdistan',
 'South Kalimantan',
 'Tlaxcala',
 'Stoke-on-trent',
 'Sohag',
 'Yogyakarta',
 'Inner_mongolia',
 'Lucerne',
 'Fife',
 'Umea',
 'Ekaterinburg',
 'Shoptykol',
 'Autonomous Region of Madrid',
 'Wuxi',
 'Yogjakarta',
 'Dubai',
 'Bangli',
 'Banten',
 'Santa Catarina',
 'San Andres de Giles',
 'Oaxaca',
 'Bergamo',
 'Sukhbaatar',
 'QLD',
 'Livingston',
 'Valencian Community',
 'Osan',
 'Vilsbiburg',
 'Penghu',
 "North Reed's Beach",
 'Borgholzhausen',
 'Buch',
 'Warstein',
 'Nam Dinh',
 'Amsterdam',
 'Enger',
 'Rietberg',
 'Newfoundland and Labrador',
 'Heinsberg',
 'Goch',
 'Straelen',
 'Borchen',
 'Beed',
 'HeBei',
 'Arkhangai',
 'Raesefeld',
 'Soegel',
 'Stadtlohn',
 'Maamoura Lagoon',
 'Chottogram',
 'Wanganui',
 'Billerbeck',
 'Cardinal Lake',
 'Emtinghausen',
 'Khuvsgul',
 'Minden-Luebbecke',
 'Bothenheilingen',
 'Manawatu',
 'Steinfeld',
 'Ankum',
 'Svay Reang',
 'Brighton',
 'Ochtrup',
 'Soest',
 'Southland',
 'Horneburg',
 'Georgsmarienhuette',
 'Miaoli',
 'Paderborn',
 'Chicago',
 'South Auckland',
 'Swansea',
 'Cheonan',
 'Nunavut',
 'Turin',
 'Las Condes',
 'Balearic Islands',
 'North Jeolla',
 'Bielefeld',
 'Coochbehar',
 'Northwest Territories',
 'Burdwan',
 'Bankura',
 'HoaBinh',
 'Diemelstadt',
 'Nakhon sawan Village',
 'Contra Costa',
 'Quilicura',
 'Keelung',
 'Atlanta',
 'Iserlohn',
 'Everswinkel',
 'North Brabant',
 'Rosendahl',
 'Venice',
 'Enschede',
 'Nijmegen',
 'Emsbueren',
 'Nambour',
 'Helmetta',
 'Coesfeld',
 'Rheine',
 'Gnas',
 'Herford',
 'Pordenone',
 'Duelmen',
 'Balge',
 'Lake Audobon',
 'Raddestorf',
 'Yolo',
 'Wenzendorf',
 'East Kalimantan',
 'Genoa',
 'Oyo State',
 'North Holland',
 'Guenne',
 'Bocholt',
 'Adamawa',
 'UbatubaBR',
 'Tumen',
 'Borgentreich',
 'Isterberg',
 'Huerth',
 'Groningen',
 'Kwara',
 'Daseburg',
 'Veliky Novgorod',
 'Sulawesi Selatan',
 'Zamfara',
 'Delta',
 'Mangystau region',
 'San Francisco',
 'Visbek',
 'Juxian',
 'Ugii lake',
 'Schapen',
 'Altai region',
 'BertiogaBR',
 'Neuenhaus',
 'Ekiti State',
 'Engelsberg',
 'Menofeya',
 'Zhanghzou',
 'EspiritoSanto',
 'Kevelaer',
 'Steppberg',
 'Nha Trang',
 'CaMau',
 'Gescher',
 'Borno',
 'Nakhon Sri Thammarat',
 'New Zealand',
 'Krimpen a/d Lek',
 'Dagestan',
 'Logan',
 'Orenburg',
 'Nelson Marlborough',
 'Luang Namtha',
 'Long An',
 'Tairawhiti',
 'TaiDung',
 'Callao',
 'Guadalupe',
 'Ohiggins',
 'Masaya',
 'Sacramento Natl. Wildlife Refuge',
 'Hemmoor',
 'Shangdong',
 'Qingyuan',
 'Nienburg',
 'Neuenburgersee',
 'Rawalpindi',
 'Birobidzhan',
 'Stein am Rhein',
 'Saxony-Anhalt',
 'Greifensee',
 'rizhao',
 'Uthai Thani',
 'Hung Yen',
 'Srinagar',
 'Ad Dawhah',
 'Abudhabi',
 'Nordhein-Westfalen',
 'Brawley',
 'Osterhofen',
 'Salzburg',
 'Wohnste',
 'Columbus',
 'Yokohama',
 'Jeonnam',
 'Porto',
 'Egglham',
 'Fulbaria',
 'Thalwil',
 'Tabanan',
 'Istanbul',
 'Haikou',
 'Thainguyen',
 'Laar',
 'Haerbin',
 'Atyrau',
 'Roraima',
 'Busan',
 'Hildisrieden',
 'Pabna sadar',
 'Puerto Rico',
 'Qaluobiya Governorate',
 'Great Lakes',
 'JOVAC-VAC',
 'Johor',
 'Mavueni',
 'Ennigerloh',
 'Addis Ababa',
 'Uttarkhan',
 'Quang Binh',
 'Indore',
 'Belzig',
 'Concepcion',
 'Daqahleya',
 'Saga',
 'CentralJava',
 'Shizuoka',
 'Qena',
 'Leipzig',
 'Kaliningrad',
 'Ostrava',
 'Helwan',
 'Penang',
 'Lawton',
 'Jakarta Timur',
 'Savar',
 'Finnistere',
 'Sendai',
 'Deli Serdang',
 'Yamanashi',
 'Adelaide',
 'El Trebol',
 'Coimbra',
 'Udon Thani',
 'Klungkung',
 'Jashore',
 'Habana',
 'Six-October',
 'Beaufort',
 'Medan',
 'Isfahan',
 'Nagoya',
 'Markeev',
 'Tomar',
 'El-Minia Governorate',
 'BA',
 'Jinja',
 'Chungbuk',
 'Qaliobia',
 'Ruswil',
 'Siem Reab',
 'QuangBinh',
 'Italy',
 'Huizhou',
 'Ha Tinh',
 'Brno',
 'Assuit',
 'San Diego Co.',
 'Bahia',
 'Perak',
 'Zhaoqing',
 'Xayabouly District',
 'Kawasaki',
 'Burgenland',
 'Setubal',
 'US Naval Medical Research Unit #3',
 'Alsace',
 'Kafr Elsheikh',
 'Gossau',
 ...]

In [83]:
a.loc[a['country'] == 'USA', 'division'].value_counts().head(100)

-1                                      123032
California                               60740
Michigan                                 56952
New York                                 33182
Minnesota                                26927
Massachusetts                            26112
Washington                               25607
Texas                                    24255
Iowa                                     20538
Colorado                                 20242
Florida                                  19475
Wisconsin                                18686
Ohio                                     13570
Pennsylvania                             11079
Illinois                                 10326
Maryland                                 10190
North Carolina                            9647
Idaho                                     9552
South Dakota                              9281
Hawaii                                    9105
New Jersey                                9063
Utah                                      8873
Missouri                                  8443
Arizona                                   8162
Indiana                                   8035
Delaware                                  7848
Tennessee                                 7670
Alaska                                    7418
North Dakota                              6826
Oregon                                    6605
Georgia                                   6582
Rhode Island                              6517
Nevada                                    6458
Virginia                                  6194
Nebraska                                  6084
Montana                                   5933
Connecticut                               5900
New Mexico                                5690
Kentucky                                  4889
Louisiana                                 4805
New Hampshire                             4776
Mississippi                               4657
Oklahoma                                  4597
Washington DC                             4510
West Virginia                             4450
South Carolina                            4185
Kansas                                    3868
Arkansas                                  3814
Maine                                     3704
Wyoming                                   3655
Vermont                                   2955
Alabama                                   2577
Brownsville                                136
Mispillion Harbor                          120
Minto Flats                                 72
Cook's Beach                                56
Reed's Beach                                48
Santa Clara                                 48
South Reed's Beach                          40
San Juan                                    40
University of Vermont Medical Center        40
Thief Lake                                  32
Agassiz NWR                                 32
PR                                          32
Yigo                                        30
Lake Co.                                    25
DeSoto                                      24
Guam                                        20
Ft Carson                                   20
San Francisco                               16
Lake Audobon                                16
Helmetta                                    16
Atlanta                                     16
Chicago                                     16
Contra Costa                                16
North Reed's Beach                          16
Sacramento Natl. Wildlife Refuge            16
Yolo                                        16
Brawley                                     15
Columbus                                    15
Great Lakes                                 14
Puerto Rico                                 14
Lawton                                      13
San Diego Co.                               12
Beaufort                                    12
El Centro                                   10
Ilo                                          8
Jamesburg                                    8
Larimer-BYC                                  8
Roseau River Peninsula                       8
Mispillion Beach                             8
Philadelphia                                 8
England                                      8
Bethesda                                     8
Weiss                                        8
Baltimore                                    8
Moore's Beach                                8
Agassiz National Wildlife Refuge             8
Anahuac National Wildlife Refuge             8
Dakota Superior                              8
Name: division, dtype: int64

In [84]:
a.loc[a['country'] == 'USA', 'division'].value_counts().index.values.tolist()

['-1',
 'California',
 'Michigan',
 'New York',
 'Minnesota',
 'Massachusetts',
 'Washington',
 'Texas',
 'Iowa',
 'Colorado',
 'Florida',
 'Wisconsin',
 'Ohio',
 'Pennsylvania',
 'Illinois',
 'Maryland',
 'North Carolina',
 'Idaho',
 'South Dakota',
 'Hawaii',
 'New Jersey',
 'Utah',
 'Missouri',
 'Arizona',
 'Indiana',
 'Delaware',
 'Tennessee',
 'Alaska',
 'North Dakota',
 'Oregon',
 'Georgia',
 'Rhode Island',
 'Nevada',
 'Virginia',
 'Nebraska',
 'Montana',
 'Connecticut',
 'New Mexico',
 'Kentucky',
 'Louisiana',
 'New Hampshire',
 'Mississippi',
 'Oklahoma',
 'Washington DC',
 'West Virginia',
 'South Carolina',
 'Kansas',
 'Arkansas',
 'Maine',
 'Wyoming',
 'Vermont',
 'Alabama',
 'Brownsville',
 'Mispillion Harbor',
 'Minto Flats',
 "Cook's Beach",
 "Reed's Beach",
 'Santa Clara',
 "South Reed's Beach",
 'San Juan',
 'University of Vermont Medical Center',
 'Thief Lake',
 'Agassiz NWR',
 'PR',
 'Yigo',
 'Lake Co.',
 'DeSoto',
 'Guam',
 'Ft Carson',
 'San Francisco',
 'Lake Audobon',
 'Helmetta',
 'Atlanta',
 'Chicago',
 'Contra Costa',
 "North Reed's Beach",
 'Sacramento Natl. Wildlife Refuge',
 'Yolo',
 'Brawley',
 'Columbus',
 'Great Lakes',
 'Puerto Rico',
 'Lawton',
 'San Diego Co.',
 'Beaufort',
 'El Centro',
 'Ilo',
 'Jamesburg',
 'Larimer-BYC',
 'Roseau River Peninsula',
 'Mispillion Beach',
 'Philadelphia',
 'England',
 'Bethesda',
 'Weiss',
 'Baltimore',
 "Moore's Beach",
 'Agassiz National Wildlife Refuge',
 'Anahuac National Wildlife Refuge',
 'Dakota Superior',
 'Thief River',
 'Lexington',
 'Butte',
 'Cape May',
 'Hemsbury',
 'Port Mahon',
 'College Park',
 'San Luis Obispo',
 'Marin',
 'Fresno',
 'Placer',
 'nh guam',
 'Ft. Benning',
 'Dobson',
 'Columbia',
 'Imperial Co.',
 'Pendleton',
 'Saipan',
 'Fort Benning',
 'Calexico',
 'DC',
 'Camp Upton',
 'Agassiz River',
 'San Ysidro',
 'Camp Lee',
 'Oklahoma City',
 'Philippines',
 'Lawton Co.',
 'Great Lake Co.',
 'Camp Dodge',
 'USA',
 'Lake co.',
 'Temple',
 'South Korea',
 'Camp Jackson',
 'South Carrolina',
 'Detroit']

In [95]:
((a['country'] == 'USA') & (~a['division'].isin(state_names)) & ~(a['division'] == "-1")).sum()

1400

In [99]:
a.loc[((a['country'] == 'USA') & (~a['division'].isin(state_names)) & ~(a['division'] == "-1"))]['location'].value_counts()

-1                    770
Cape May county       160
Sussex county         128
Interior Alaska        72
Burlington             40
Farmes Pool            32
Marshall County        24
WI east                24
Co                     20
McLean county          16
Glenn County           16
Middlesex county       16
Marshall county        16
NW                      8
Roseau county           8
Cumberland county       8
Kent county             8
Dunn county             8
Chambers County TX      8
Baltimore County        8
Yaphank                 4
Petersburg              3
Johnston                2
Columbia                1
Name: location, dtype: int64

In [55]:
a.loc[a['division'] == 'Boston', 'location'].value_counts()

-1    1040
Name: location, dtype: int64

In [64]:
a['location'].value_counts()

-1                    996278
-1                     24935
King County             7609
Boston                  6174
Los Angeles County      2012
                       ...
Hallam                     1
Dornogobi province         1
Kandal province            1
Lake Ogawara               1
Dc                         1
Name: location, Length: 748, dtype: int64

In [100]:
df

,Accession ID,database,isolate_id,genus,serotype,virus_name,region,country,collection_date,submission_date,...,isolation_source,biosample_accession,authors,publications,n_subtype,segment,division,location,length,percent_ambiguous
0,NC_002016,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1982-06-09,...,Unknown,Unknown,"Winter,G., Fields,S.",6927841,1,7,-1,-1,1027,0.0
1,NC_002022,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1982-11-03,...,Unknown,Unknown,"Fields,S., Winter,G.",7060132,1,3,-1,-1,2233,0.0
2,NC_002023,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1982-11-03,...,Unknown,Unknown,"Fields,S., Winter,G.",7060132,1,1,-1,-1,2341,0.0
3,NC_002017,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1983-07-13,...,Unknown,Unknown,"Winter,G., Fields,S., Brownlee,G.G.",7278968,1,4,-1,-1,1778,0.0
4,NC_002020,RefSeq,GCF_000865725.1,Alphainfluenzavirus,H1N1,A/Puerto-Rico/8/1934,North America,USA,1934,1993-08-02,...,Unknown,Unknown,"Hall,R.M., Air,G.M., Winter,G., Fields,S., Gai...","7241645, 7208353, 7465426, 7385583",1,8,-1,-1,890,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074824,PV901735,GenBank,A/swine/Ohio/A02858688/2025,Alphainfluenzavirus,H3N2,A/swine/Ohio/A02858688/2025,North America,USA,2025-06-18,2025-07-08,...,lung,Unknown,"USDA Swine Surveillance,A., Lin,K., Dohrn,C.",Unknown,2,6,Ohio,-1,1410,0.0
1074825,PV901738,GenBank,A/swine/Iowa/A02858690/2025,Alphainfluenzavirus,H1N1,A/swine/Iowa/A02858690/2025,North America,USA,2025-06-19,2025-07-08,...,lung,Unknown,"USDA Swine Surveillance,A., Lin,K., Dohrn,C.",Unknown,1,4,Iowa,-1,1701,0.0
1074826,PV901739,GenBank,A/swine/Iowa/A02858690/2025,Alphainfluenzavirus,H1N1,A/swine/Iowa/A02858690/2025,North America,USA,2025-06-19,2025-07-08,...,lung,Unknown,"USDA Swine Surveillance,A., Lin,K., Dohrn,C.",Unknown,1,6,Iowa,-1,1410,0.0
1074827,PV901740,GenBank,A/swine/Iowa/A02858691/2025,Alphainfluenzavirus,H1N1,A/swine/Iowa/A02858691/2025,North America,USA,2025-06-19,2025-07-08,...,lung,Unknown,"USDA Swine Surveillance,A., Lin,K., Dohrn,C.",Unknown,1,4,Iowa,-1,1701,0.0
1074828,PV901741,GenBank,A/swine/Iowa/A02858691/2025,Alphainfluenzavirus,H1N1,A/swine/Iowa/A02858691/2025,North America,USA,2025-06-19,2025-07-08,...,lung,Unknown,"USDA Swine Surveillance,A., Lin,K., Dohrn,C.",Unknown,1,6,Iowa,-1,1410,0.0

In [101]:
a

                region country division location
0        North America     USA       -1       -1
1        North America     USA       -1       -1
2        North America     USA       -1       -1
3        North America     USA       -1       -1
4        North America     USA       -1       -1
...                ...     ...      ...      ...
1074824  North America     USA     Ohio       -1
1074825  North America     USA     Iowa       -1
1074826  North America     USA     Iowa       -1
1074827  North America     USA     Iowa       -1
1074828  North America     USA     Iowa       -1

[1074829 rows x 4 columns]

In [103]:
df.loc[:, ['region', 'country', 'division', 'location']] = a